.main__upper {
  display: flex;
  flex-direction: column;
  background: rgb(57, 236, 254, 0.7);
  border-radius: 35%;
}
.weather-section {
  background-color: #1d2b45;
  padding: 40px 0;
  min-height: 300px; /* keeps visible space even before load */
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__upper-title {
  color: #1d2b45;
  text-align: center;
  font-family: SairaCondensed Bold, sans-serif;
  font-size: 24px;
}

.main__upper-description {
  color: #1d2b45;
  margin-top: 10px;
  font-family: SairaCondensed Bold, sans-serif;
  font-size: 19px;
  text-align: center;
}

.main__service-highlight {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  text-align: center;
}

.main__service-wrapper {
  width: 500px;
  border: #39ecfe solid;
  border-width: thick;
  border-radius: 5%;
}

.main__service-image {
  overflow: hidden;
  width: 100%;
  border-radius: 5%;
}

.main__service-title {
  color: #fff;
  text-align: center;
  font-family: SairaCondensed Bold, sans-serif;
  font-size: 24px;
}

.main__service-description {
  font-family: SairaCondensed Bold, sans-serif;
  font-size: 19px;
  color: #fff;
}

.main__tint-gallery {
  background-color: rgb(57, 236, 254, 0.7);
  font-family: SairaCondensed Bold, sans-serif;
  font-size: 25px;
  padding: 10px;
}

.main__tint-gallery-title {
  color: #1d2b45;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .main__service-highlight {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    text-align: center;
  }
}
